<!DOCTYPE html>
<html>

<head>
    <title>Maintenance Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
</head>

<body>
    <div class="index-header">
        <span class="head-title">Maintenance </span>
        <span class="head-title-t">Tracker</span>
        <span>Admin</span>
        <span><a href="{{url_for('index')}}">Home</a></span>
    </div>
    <div class="space"></div>
    <div class="adminspace">
        <table>
            <tr>
                <th>Item Type</th>
                <th>Issue</th>
                <th>Comment</th>
                <th>Mark</th>
            </tr>
            <tr>
                <td>Care(Range Rover)</td>
                <td>
                    <details>
                        <summary>Faulty Breaks</summary>
                        <p>wen the brake peddle is stepped on, the brakes make a lot of noise.</p>
                    </details>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Accept/Reject">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Resolved!">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Care(BMW)</td>
                <td>
                    <details>
                        <summary>Broken Head Lights</summary>
                        <p>the head lamp glass is broken and produces dim light when in full mode is turned on.</p>
                    </details>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Accept/Reject">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Resolved!">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Motobike(Suzzuki)</td>
                <td>
                    <details>
                        <summary>Wornout tires</summary>
                        <p>On a rainny day the bike slides all over the palce</p>
                    </details>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Accept/Reject">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Resolved!">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Motobike(Honda)</td>
                <td>
                    <details>
                        <summary>Broken side mirror</summary>
                        <p>The right side mirror needs repalcement.</p>
                    </details>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Accept/Reject">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
                <td>
                    <form action="">
                        <input class="acc" type="text" name="" placeholder="Resolved!">
                        <button class="accbut" type="submit">submit</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>