<!DOCTYPE html>
<html>

<head>
    <title>Maintenance Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
</head>

<body>
    <div class="index-header">
        <span><a href="{{url_for('sign_in')}}">SignIn</a></span>
        <span><a href="{{url_for('sign_up')}}">SignUp</a></span>
        <span><a href="{{url_for('user_view')}}">UserView</a></span>
        <span><a href="{{url_for('admin_view')}}">AdminView</a></span>
    </div>

    </div>
    <div class="space"></div>
    <div class="index_container">
        <span class="head-title ">Maintenance </span>
        <span class="head-title-t ">Tracker</span>
    </div>

</body>

</html>