<!DOCTYPE html>
<html>

<head>
    <title>Maintenance Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
</head>

<body>
    <div class="index-header">
        <span class="head-title">Maintenance </span>
        <span class="head-title-t">Tracker</span>
        <span>User</span>
        <span><a href="{{url_for('index')}}">Home</a></span>
    </div>
    <div class="space"></div>
    <div class="req">
        <table>
            <tr>
                <th>Item Type</th>
                <th>Issue</th>
                <th>Request Status</th>
            </tr>
            <tr>
                <td>Care(Range Rover)</td>
                <td>Faulty Breaks</a>
                </td>
                <td>.....</td>
            </tr>
            <tr>
                <td>Care(BMW)</td>
                <td>Broken Head Lights</td>
                <td>.....</td>
            </tr>
            <tr>
                <td>Motobike(Suzzuki)</td>
                <td>Wornout tires</a>
                </td>
                <td>.....</td>
            </tr>
            <tr>
                <td>Motobike(Honda)</td>
                <td>Broken side mirror</a>
                </td>
                <td>.....</td>
            </tr>
        </table>
    </div>
    <div class="request-form">
        <div>
            <h1>Creat a request</h1>
        </div>
        <form action="">
            <input type="text" name="machine" placeholder="Item" required>
            <input type="text" name="issue" placeholder="Issue/Problem" required>
            <input type="text" name="discription" placeholder="Issue Description" required>
            <button type="submit">submit request</button>
        </form>
    </div>

</body>

</html>